<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Definitions</key>
	<dict>
		<key>TFrameworks/ASIHTTPRequest/External/Reachability/Reachability.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>External</string>
				<string>Reachability</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/External/Reachability/Reachability.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/External/Reachability/Reachability.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>External</string>
				<string>Reachability</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/External/Reachability/Reachability.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIAuthenticationDialog.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIAuthenticationDialog.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIAuthenticationDialog.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIAuthenticationDialog.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASICacheDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASICacheDelegate.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIDataCompressor.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIDataCompressor.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIDataCompressor.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIDataCompressor.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIDataDecompressor.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIDataDecompressor.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIDataDecompressor.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIDataDecompressor.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIDownloadCache.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIDownloadCache.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIDownloadCache.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIDownloadCache.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIFormDataRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIFormDataRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIFormDataRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIFormDataRequest.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIHTTPRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIHTTPRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIHTTPRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIHTTPRequest.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIHTTPRequestConfig.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIHTTPRequestConfig.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIHTTPRequestDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIHTTPRequestDelegate.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIInputStream.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIInputStream.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIInputStream.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIInputStream.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASINetworkQueue.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASINetworkQueue.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASINetworkQueue.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASINetworkQueue.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIProgressDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIProgressDelegate.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIWebPageRequest/ASIWebPageRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>ASIWebPageRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIWebPageRequest/ASIWebPageRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/ASIWebPageRequest/ASIWebPageRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>ASIWebPageRequest</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/ASIWebPageRequest/ASIWebPageRequest.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesCDNRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesCDNRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesCDNRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesCDNRequest.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainer.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainer.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainer.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainer.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerRequest.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerXMLParserDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerXMLParserDelegate.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerXMLParserDelegate.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerXMLParserDelegate.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObject.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObject.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObject.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObject.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObjectRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObjectRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObjectRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObjectRequest.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>CloudFiles</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesRequest.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASINSXMLParserCompat.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASINSXMLParserCompat.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3Bucket.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3Bucket.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3Bucket.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3Bucket.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3BucketObject.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3BucketObject.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3BucketObject.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3BucketObject.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3BucketRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3BucketRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3BucketRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3BucketRequest.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3ObjectRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3ObjectRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3ObjectRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3ObjectRequest.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3Request.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3Request.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3Request.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3Request.m</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3ServiceRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3ServiceRequest.h</string>
		</dict>
		<key>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3ServiceRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TFrameworks</string>
				<string>ASIHTTPRequest</string>
				<string>Classes</string>
				<string>S3</string>
			</array>
			<key>Path</key>
			<string>ASIHTTPRequest/Classes/S3/ASIS3ServiceRequest.m</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>ASIHTTPRequest Template.</string>
	<key>Identifier</key>
	<string>shawnteng.asihttprequest</string>
	<key>Nodes</key>
	<array>
		<string>TFrameworks/ASIHTTPRequest/External/Reachability/Reachability.h</string>
		<string>TFrameworks/ASIHTTPRequest/External/Reachability/Reachability.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIAuthenticationDialog.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIAuthenticationDialog.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASICacheDelegate.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIDataCompressor.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIDataCompressor.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIDataDecompressor.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIDataDecompressor.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIDownloadCache.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIDownloadCache.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIFormDataRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIFormDataRequest.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIHTTPRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIHTTPRequest.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIHTTPRequestConfig.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIHTTPRequestDelegate.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIInputStream.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIInputStream.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASINetworkQueue.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASINetworkQueue.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIProgressDelegate.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIWebPageRequest/ASIWebPageRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/ASIWebPageRequest/ASIWebPageRequest.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesCDNRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesCDNRequest.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainer.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainer.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerRequest.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerXMLParserDelegate.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesContainerXMLParserDelegate.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObject.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObject.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObjectRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesObjectRequest.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/CloudFiles/ASICloudFilesRequest.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASINSXMLParserCompat.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3Bucket.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3Bucket.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3BucketObject.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3BucketObject.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3BucketRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3BucketRequest.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3ObjectRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3ObjectRequest.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3Request.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3Request.m</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3ServiceRequest.h</string>
		<string>TFrameworks/ASIHTTPRequest/Classes/S3/ASIS3ServiceRequest.m</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>CFNetwork</string>
				<string>MobileCoreServices</string>
				<string>SystemConfiguration</string>
			</array>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>HEADER_SEARCH_PATHS</key>
			<string>&quot;${SDK_DIR}/usr/include/libxml2&quot;</string>
		</dict>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
</dict>
</plist>
