<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplication</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
		<string>shawnteng.asihttprequest</string>
		<string>shawnteng.jsonkit</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier___AppDelegate.m:applicationdidFinishLaunchingWithOptions</key>
		<dict>
			<key>Beginning</key>
			<string>- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions
{
    self.window = ___RP___[[UIWindow alloc] initWithFrame:[[UIScreen mainScreen] bounds]]___AR___;
    // Override point for customization after application launch.
    self.window.backgroundColor = [UIColor whiteColor];</string>
			<key>End</key>
			<string>    [self.window makeKeyAndVisible];
    return YES;
}
</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>Resource/Image</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resource</string>
				<string>Image</string>
			</array>
			<key>Path</key>
			<string>Resource/Image</string>
		</dict>
		<key>Resource/Document</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Resource</string>
				<string>Document</string>
			</array>
			<key>Path</key>
			<string>Resource/Document</string>
		</dict>
		<key>Classes/Common/Sconfiger.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Common</string>
			</array>
			<key>Path</key>
			<string>Classes/Common/Sconfiger.h</string>
		</dict>
		<key>Classes/Common/SUtil.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Common</string>
			</array>
			<key>Path</key>
			<string>Classes/Common/SUtil.h</string>
		</dict>
		<key>Classes/Common/SUtil.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Common</string>
			</array>
			<key>Path</key>
			<string>Classes/Common/SUtil.m</string>
		</dict>
		<key>Classes/Common/Util.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Common</string>
			</array>
			<key>Path</key>
			<string>Classes/Common/Util.h</string>
		</dict>
		<key>Classes/Common/Util.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Common</string>
			</array>
			<key>Path</key>
			<string>Classes/Common/Util.m</string>
		</dict>
		<key>Classes/Controller/SViewController.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Controller</string>
			</array>
			<key>Path</key>
			<string>Classes/Controller/SViewController.h</string>
		</dict>
		<key>Classes/Controller/SViewController.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Controller</string>
			</array>
			<key>Path</key>
			<string>Classes/Controller/SViewController.m</string>
		</dict>
		<key>Classes/Model/SDataManager.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Classes/Model/SDataManager.h</string>
		</dict>
		<key>Classes/Model/SDataManager.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Classes/Model/SDataManager.m</string>
		</dict>
		<key>Classes/Model/SHistory.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Classes/Model/SHistory.h</string>
		</dict>
		<key>Classes/Model/SHistory.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Classes/Model/SHistory.m</string>
		</dict>
		<key>Classes/Model/SSetting.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Classes/Model/SSetting.h</string>
		</dict>
		<key>Classes/Model/SSetting.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Model</string>
			</array>
			<key>Path</key>
			<string>Classes/Model/SSetting.m</string>
		</dict>
		<key>Classes/Network/SURLRequest.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>Classes/Network/SURLRequest.h</string>
		</dict>
		<key>Classes/Network/SURLRequest.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>Classes/Network/SURLRequest.m</string>
		</dict>
		<key>Classes/Network/SURLProxy.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Store</string>
			</array>
			<key>Path</key>
			<string>Classes/Network/SURLProxy.h</string>
		</dict>
		<key>Classes/Network/SURLProxy.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Store</string>
			</array>
			<key>Path</key>
			<string>Classes/Network/SURLProxy.m</string>
		</dict>
		<key>Classes/Network/SDefine.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Store</string>
			</array>
			<key>Path</key>
			<string>Classes/Network/SDefine.h</string>
		</dict>
		<key>Classes/Network/SDataLoaderDelegate.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Store</string>
			</array>
			<key>Path</key>
			<string>Classes/Network/SDataLoaderDelegate.h</string>
		</dict>
		<key>Classes/Network/SDataLoader.h</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>Classes/Network/SDataLoader.h</string>
		</dict>
		<key>Classes/Network/SDataLoader.m</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Classes</string>
				<string>Network</string>
				<string>Base</string>
			</array>
			<key>Path</key>
			<string>Classes/Network/SDataLoader.m</string>
		</dict>
	</dict>
	<key>Description</key>
	<string>ShawnTeng Base Template.</string>
	<key>Identifier</key>
	<string>shawnteng.base</string>
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:3</string>
		<string>Resource/Image</string>
		<string>Resource/Document</string>
		<string>Classes/Common/Sconfiger.h</string>
		<string>Classes/Common/SUtil.h</string>
		<string>Classes/Common/SUtil.m</string>
		<string>Classes/Common/Util.h</string>
		<string>Classes/Common/Util.m</string>
		<string>Classes/Controller/SViewController.h</string>
		<string>Classes/Controller/SViewController.m</string>
		<string>Classes/Model/SDataManager.h</string>
		<string>Classes/Model/SDataManager.m</string>
		<string>Classes/Model/SHistory.h</string>
		<string>Classes/Model/SHistory.m</string>
		<string>Classes/Model/SSetting.h</string>
		<string>Classes/Model/SSetting.m</string>
		<string>Classes/Network/SURLRequest.h</string>
		<string>Classes/Network/SURLRequest.m</string>
		<string>Classes/Network/SURLProxy.h</string>
		<string>Classes/Network/SURLProxy.m</string>
		<string>Classes/Network/SDefine.h</string>
		<string>Classes/Network/SDataLoaderDelegate.h</string>
		<string>Classes/Network/SDataLoader.h</string>
		<string>Classes/Network/SDataLoader.m</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>QuartzCore</string>
			</array>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>GCC_PREPROCESSOR_DEFINITIONS - 2</key>
				<array>
					<string>DEBUG</string>
					<string>TARGET_IPHONE_DEBUG</string>
				</array>
				<key>GCC_PREPROCESSOR_DEFINITIONS</key>
				<array>
					<string>DEBUG</string>
					<string>S_DEBUG</string>
				</array>
			</dict>
			<key>Release</key>
			<dict/>
		</dict>
		<key>SharedSettings</key>
		<dict/>
	</dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
</dict>
</plist>
